{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <a href="/logout/"> Logout </a>
    {% else %}
        <a href="/login/"> Login </a>
    {% endif %}
    | <a href="/blog/"> Blog </a>
    | <a href="/blog/sitemap.xml">Sitemap</a>
    |<a href="/blog/feeds/all.atom.xml">ATOM</a>
    | <a href="/fileupload/">FileUpload</a>
{% endblock %}
{% block script %}{% endblock %}
